<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../public/favicon.ico"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../public/dualStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  #icon{
    padding:10px;
    margin:120px;
    height:175px;
    width:175px;
    cursor:pointer;
    background: rgb(242, 106, 54);
    margin-bottom: 40px;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  #money{
    /* color:green; */
    font-size: medium;
    background:white;
    color: black;
    padding: 4px;
  }
  </style>
</head>
<body background="../../public/background.jpg"  style ="background-repeat:no-repeat; background-size:cover;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Quiz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a><i class="fa fa-dollar"></i> <span id="money"><%= coin %></a></span></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
    </div>
  </nav>
  <div class='row'>
    <div class="col-sm-6">
      <a href="duel"><img src="../../public/duel.png" class="img-circle" id="icon" /></a>
      <a href="survival"><img src="../../public/survival.png" class="img-circle" id="icon" /></a>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6" id="instruction">
        <img src="../../public/instruction.png" />
        <!-- jklkjd; -->
      </div>


    </div>

  </div>
</body>
</html>
